<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directions</title>
</head>
<body>
    <p><image src="static/images/logo.png" alt="BaboDirect Logo" height = "200" width = "200"></p>
    <p> This journey should take around {{time}} minutes. </p>
    <p>	Follow these directions: </p>
    <p>
        <ul>
        {% for directions in text %}
          <li>{{ directions }}</li>
        {% endfor %}  
        </ul>
    </p>
    <p>	Thank you for using BaboDirect! </p>
</body>
</html>