<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
    </style>
    <body>
</head>
<body>
    <header class="w3-container w3-teal w3-center" style="padding:128px 16px">
    <p class="w3-xlarge"><image src="static/images/logo.png" alt="BaboDirect Logo" height = "200" width = "200"></p>
    <h1 class="w3-margin w3-jumbo">Directions</h1>
    <p class="w3-xlarge"> This journey should take around {{time}} minutes: </p>
    <p class="w3-xlarge">
        <ul class="w3-ul w3-card-4">
        {% for directions in text %}
          <li class="w3-xlarge">{{ directions }}</li>
        {% endfor %}  
        </ul>
    </p>
    <p class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a href="{{ url_for('index') }}">Search Again</a></p>
    <h1 class="w3-margin w3-jumbo">	Thank you for using BaboDirect! </p>
</body>
</html>